<div class="agenda">
    <div class="left">
        <div id="mini-cal"></div>
        <div class="buttons">
            <button id="crear_cita">Agendar visita</button>
            <button id="cancelar_cita">Cancelar visita</button>
            <button id="editar_cita" class="de_cita" style="display: none">Reprogramar visita</button>
            <button id="reportar_cita" class="de_cita" style="display: none">Reportar visita</button>
        </div>
        <div class="buttons_mobile">
            <button id="crear_cita"><i class="far fa-calendar-plus"></i></button>
            <button id="cancelar_cita"><i class="far fa-calendar-times"></i></button>
            <button id="editar_cita" style="display: none"><i class="far fa-edit"></i></button>
{#            <button>Ver todas las citas</button>#}
        </div>
        {#<div class="recordatorios">
            <div id="ultima-cita" class="cita">
                <div class="title">
                    <h3>Última cita</h3>
                </div>
                <div class="info">
                    <div class="textos">
                        <span class="fecha">Lunes, 2 Enero</span>
                        <span class="asunto">Reunión Clínica San Rafaél</span>
                        <span class="medico">Dr. Carlos Rodríguez Mejía</span>
                    </div>
                    <div class="hora">
                        <span>12 PM</span>
                    </div>
                </div>
            </div>
            <div id="proxima-cita" class="cita">
                <div class="title">
                    <h3>Próxima cita</h3>
                </div>
                <div class="info">
                    <div class="textos">
                        <span class="fecha">Lunes, 2 Enero</span>
                        <span class="asunto">Reunión Clínica San Rafaél</span>
                        <span class="medico">Dr. Carlos Rodríguez Mejía</span>
                    </div>
                    <div class="hora">
                        <span>12 PM</span>
                    </div>
                </div>
            </div>
        </div>#}
    </div>
    <div id="calendar"></div>
</div>
