<footer>
    <div class="d-md-flex justify-content-md-between align-items-end py-4 px-5">
        <div class="w-25">
            <p><small>
                    <a href="{{ asset('documents/POLITICA_DE_TRATAMIENTO_DE_DATOS_PERSONALES.pdf') }}" target="_blank">{{ qi.texto('texto_politicas') }}</a> y
                    <a href="{{ asset('documents/AUTORIZACION_DE_TRATAMIENTO_DE_DATOS_PERSONALES.pdf') }}" target="_blank">{{ qi.texto('texto_autorizacion_datos') }}</a>
                </small></p>
            <p><small><a href="{{ path('terminos-condiciones') }}" target="_blank" class="link-terminos">{{ qi.texto('texto_terminos_condiciones') }}</a>
            <p>CONTÁCTANOS: <a href="mailto:info@thejpchannel.com" target="_blank" class="link-terminos">info@thejpchannel.com</a></p>
                    {% if app.user %}
            <p><small><a href="{{ path('cancelar_suscripcion') }}"  class="link-terminos">{{ qi.texto('cancelar_suscripcion') }}</a></small></p>
                    {% endif %}
        </div>
        <div class="w-50 text-center">
            <div class="logo d-inline-block">
                <img src="{{ asset('images/firma.png') }}"/>
                <br>
                <p><small>© 2020, TheJPchannel.com</small></p>
            </div>
        </div>
        <div class="w-25 text-right">
            <a class="iridian w-25 d-inline-block" href="http://iridian.co/" target="_blank">
                <img src="{{ asset('images/iridian.png') }}">
            </a>
        </div>
    </div>
</footer>