<header class="w-100">
    <div class="d-flex justify-content-end">
        <div class="opcion p-3">
            <a class="bt-1 mr-3" href="{{ path('fos_user_security_login') }}">{{ qi.texto('iniciar_sesion') }}</a>
            <a class="bt-1" href="{{ path('fos_user_registration_register') }}">{{ qi.texto('suscribirse') }}</a>
        </div>
    </div>
</header>