
<header class="w-100 head-clientes">
    <div class="user d-flex justify-content-md-between align-items-center p-4">
        <div class="colu d-flex align-items-center flex-grow-1">
            <a class="logo d-inline-block" href="{{ path('homepage') }}"><img class="w-100" src="{{ asset('images/logo-l.png') }}"/></a>
            <div class="top">
                {% if ruta == 'videos' %}
                    {#<form>
                        <input type="image" src="{{ asset('images/lupa.png') }}"/>
                        <input type="search" placeholder="{{ qi.texto('espacio_buscar') }}"/>
                    </form>#}
                    <div class="contNav">
                        <div class="shows">
                            Shows <i class="fas fa-chevron-down"></i>
                        </div>
                        <nav>
                            {% for item in categorias %}
                                <a href="#cat{{ item.id }}" class="" >{{ item.nombre }}</a>
                            {% endfor %}
                        </nav>
                    </div>


                {% endif %}
                {% if ruta == 'buscador' or ruta == 'videos' %}
                <form class="buscador" action="{{ path('buscador') }}">
                    <input id="query" name="query" placeholder="Buscar" value="{{ query }}"/>
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                {% endif %}
            </div>

        </div>
        <div class="colu text-right">
            <div class="user-id">
                {% if app.user %}
                <div class="d-flex justify-content-center align-items-center">
                    <div class="lyrics-u">
                        <h2>{{ app.user.nombre|split("")[0] }}</h2>
                    </div>
                    <i class="fas fa-chevron-down"></i>
                </div>
                <div class="op p-3">

                    <h4>{{ app.user.nombre }} {{ app.user.apellido }}</h4>
                    <a class="p-2" href="{{ path('fos_user_security_logout') }}">{{ qi.texto('cerrar_sesion') }}</a>
                    <!--<a class="p-2" href="{{ path('cancelar_suscripcion') }}">{{ qi.texto('cancelar_suscripcion') }}</a>-->

                </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
