@font-face {
    font-family: 'Hijrnotes PERSONAL USE ONLY';
    src: url('HijrnotesPERSONALUSEONLY.woff2') format('woff2'),
        url('HijrnotesPERSONALUSEONLY.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DoublePorter6';
    src: url('DoublePorter6.woff2') format('woff2'),
        url('DoublePorter6.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light.woff2') format('woff2'),
        url('OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DoublePorter5';
    src: url('DoublePorter5.woff2') format('woff2'),
        url('DoublePorter5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'The Farmer Textured';
    src: url('TheFarmerTexturedRounded.woff2') format('woff2'),
        url('TheFarmerTexturedRounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Naratif Condensed';
    src: url('NaratifCondensed-BoldItalic.woff2') format('woff2'),
        url('NaratifCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'The Farmer Textured';
    src: url('TheFarmerTexturedRegular.woff2') format('woff2'),
        url('TheFarmerTexturedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Regular.woff2') format('woff2'),
        url('MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Naratif Condensed';
    src: url('NaratifCondensed-Thin.woff2') format('woff2'),
        url('NaratifCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'The Farmer Textured';
    src: url('TheFarmerTexturedVintage.woff2') format('woff2'),
        url('TheFarmerTexturedVintage.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

