.letras{
    display: inline-block;
    list-style: none;
}
.letras li{
    display: inline-block;
    list-style: none;
    margin: 4px 7px;
}
.letras li.active{
    font-weight: bold;
}
.building{
    width: 100%;
    display: inline-block;
}
.building > i,.building .floor > i{
    width: 100%;
    display: inline-block;
    margin: 15px 0 0 15px;
}
.building span{
    font-family: Arial;
}
.building .floor{
    width: calc( 100% - 20px);
    display: inline-block;
    margin: 15px 0 0 30px;
}
.building .unit{
    width: 90%;
    margin-top: 20px;
    margin-left: 45px;
    display: inline-block;
}
.building .unit div{
    width: 10%;
    display: inline-block;
}
.b_A, .f_1{
    background-color: #f1d7de;
}
.b_B, .f_2{
    background-color: #cdcaf1;
}
.b_C, .f_3{
    background-color: #cee6f1;
}
.b_D, .f_4{
    background-color: #b3f1ef;
}
.b_E, .f_5{
    background-color: #e2dff1;
}
.b_F, .f_6{
    background-color: #c3f1c3;
}
.b_G, .f_7{
    background-color: #e4f1c3;
}
