{% extends 'base.html.twig' %}

{% block body %}
    <div class="container aceptada">
        <div class="cont_aceptada">
            <img src="{{ asset('images/check.png') }}" alt="">
            <p>
                Tu compra ha sido aceptada.
                <br>
                Pronto te llegará un coreo de confirmación
            </p>
            <a href="{{ path('homepage') }}" class="button">Volver al home</a>
        </div>
    </div>

{% endblock %}

