
{% set url = qi.setting('payuUrlWeb') %}

<form method="post" action="{{ url }}" id="myform" style="display: none;">
    <input name="merchantId"    type="hidden"  value="{{ merchantId }}"   >
    <input name="ApiKey"        type="hidden"  value="{{ apiKey }}" >
    <input name="referenceCode" type="hidden"  value="{{ referenceCode }}" >
    <input name="accountId"     type="hidden"  value="{{ accountId }}" >
    <input name="description"   type="hidden"  value="{{ descripcion_text }}"  >
    <input name="amount"        type="hidden"  value="{{ total }}"   >
    <input name="tax"           type="hidden"  value="{{ tax }}"  >
    <input name="taxReturnBase" type="hidden"  value="{{ taxReturnBase }}" >
    <input name="currency"      type="hidden"  value="{{ currency }}" >
    <input name="signature"     type="hidden"  value="{{ firma }}"  >
    <input name="test"          type="hidden"  value="{{ qi.setting('payu_is_test') }}" >
    <input name="buyerEmail"    type="hidden"  value="{{ email }}" >
    <input name="responseUrl"    type="hidden"  value="{{ url('esperando_activacion',{},false) }}" >
    <input name="confirmationUrl"   type="hidden"  value="{{ url('pagar_payu_confirmacion',{},false) }}" >


    <input name="Submit"        type="submit"  value="Enviar" id="submit">
</form>
<script>
    var sub = document.getElementById('submit');
    sub.click();

</script>