{% extends '@EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {{ parent() }}
    <div class="button-action">
        <form action="{{ path('arreglar_suscripciones_dobles') }}" method="post">
            <button class="btn btn-warning">Arreglar</button>
        </form>

    </div>

{% endblock global_actions %}