{% extends '@EasyAdmin/default/layout.html.twig' %}

{# Let\'s remove/empty the header #}
{% block content_header_wrapper %} {% endblock content_header_wrapper %}

{# The main page content block #}
{% block main %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Buscar</button>
    {{ form_end(form) }}
    <div>
        {% if facturas and facturas | length > 0 %}
        <table class="table table-bordered">
            <thead>
            <th>Fecha Pago</th>
            <th>Fecha Vencimiento</th>
            <th>PayU ID</th>
            <th>PayPal ID</th>
            <th>Monto</th>
            <th>Usuario</th>
            <th>JP Suscripción</th>
            <th>Método Pago</th>
            </thead>
            <tbody>
            {% for factura in facturas %}
                <tr>
                    <td>
                        {{ factura.fechaPago|format_datetime('short', 'none', locale='es') }}
                    </td>
                    <td>
                        {{ factura.fechaVenc|format_datetime('short', 'none', locale='es') }}
                    </td>
                    <td>
                        {{ factura.payuId }}
                    </td>
                    <td>
                        {{ factura.paypalId }}
                    </td>
                    <td>
                        {{ factura.monto }}
                    </td>
                    <td>
                        {% if factura.usuario != "EMPTY" %}
                        {{ factura.usuario }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                    <td>
                        {% if factura.suscripcionId != "EMPTY" %}
                            <a href="{{ path('easyadmin') }}?action=show&entity=Suscripcion&id={{ factura.suscripcionId }}" target="_blank">{{ factura.suscripcionId }}{% if factura.new %}(NEW){% endif %}</a>
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                    <td>
                        {{ factura.pasarela }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% elseif facturas %}
            <h5>No se encontraton facturas inconsistentes</h5>
        {% endif %}
    </div>
    {#{% for factura in facturas %}
             {{ factura.fechaVenc|format_datetime('long', 'none', locale='es') }}
    {% endfor %}#}

{% endblock main %}

{% block body_custom_javascript %}
    {{ parent() }}

{% endblock %}

{# Let\'s remove/empty the footer #}
{% block content_footer_wrapper %} {% endblock content_footer_wrapper %}