{% extends 'base.html.twig' %}

{% block body %}

{#    <form action="{{ path('buscador') }}">#}
{#        <input id="query" name="query" />#}
{#    </form>#}
    <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">

    <div class="container-fluid px-0 bg-blue min-vh-100  pb-footer bg-videos">

        <div class="">
            {#Este deberia ser un tipo especial de video con:
             *texto enriquecido
             *2 espacios para links de vimeo
                Uno para el preview y otro para el video completo al que enlaza
             *
             #}
            <p>https://d2ni8vd6etkcfg.cloudfront.net/assets/361dc059-0a26-48ab-9cfd-7312fdc50ad9/HLS/test.m3u8</p>


            <video id='hls-example'  class="video-js vjs-default-skin" width="400" height="300" controls data-src="https://d2ni8vd6etkcfg.cloudfront.net/assets/361dc059-0a26-48ab-9cfd-7312fdc50ad9/HLS/test.m3u8">

            </video>

        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script>


        var video = document.getElementById('hls-example');
        var videoSrc = 'https://d2ni8vd6etkcfg.cloudfront.net/assets/361dc059-0a26-48ab-9cfd-7312fdc50ad9/HLS/test.m3u8';
        if (Hls.isSupported()) {
            console.log("comaws 1");
            var hls = new Hls();
            hls.loadSource(videoSrc);
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, function() {
                video.play();
            });
        }else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            console.log("comaws 2");
            video.src = videoSrc;
            video.addEventListener('loadedmetadata', function() {
                video.play();
            });
        }
    </script>
{% endblock %}

