{% extends 'base.html.twig' %}

{% block body %}
    <script
            src="https://www.paypal.com/sdk/js?client-id=AfnIeZFch5lhzPRXhGAqvqfOyk8Bng_hpFjKW5tE8CHGZ50Fz0je2TTZ1VpxvKFYKAyRN4Sq8K5hfdLn&vault=true">
    </script>
    {{ include('global/header-user.html.twig') }}

    <div class="container-fluid pb-footer">
        <div class="bg-2 p-3">
            <div>
                <div class="bg-3">
                    <section class="pt-header pb-footer" id="suscribirse">
                        <div class="wp text-center border-brown-3 py-5">
                            <img class="w-50" src="{{ asset('images/suscribete.png') }}"/>


                            <div class="form-group">
                                <p>{{ qi.textoBig('cancelar_suscripcion_text') }}</p>
                                <a class="" href="{{ path('make-cancelacion') }}">{{ qi.texto('cancelar_suscripcion') }}</a>
                            </div>


                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

