{% extends 'base.html.twig' %}

{% block body %}
    {{ include('global/header-log.html.twig') }}

    <section class="banner-full">
        <div class="s-wp text-center">
            <img class="logo w-50" src="{{ asset('images/logo-h.png') }}"/>
            <h3 class="my-md-5 mb-xs-3">{{ qi.texto('el_canal_mas_top') }}</h3>
            <a class="bt-1" href="{{ path('fos_user_registration_register') }}">{{ qi.texto('suscribirse') }}</a>
        </div>
    </section>

    <div class="container-fluid p-0">
        <div class="bg-2 p-3">
            <div class="border-brown-3">
                <section class="cont-item-channel d-flex justify-content-md-between align-content-md-center position-relative">
                    <img class="b-d" src="{{ asset('images/border-dash-1.png') }}"/>
                    <div class="wp text-center py-md-5">
                        <a class="item-channel  my-3 my-md-5"><img class="w-100" src="{{ asset('images/live-show.png') }}"/></a>
                        <a class="item-channel  my-3 my-md-5"><img class="w-100" src="{{ asset('images/politicamente-incorrecto.png') }}"/></a>
                        <a class="item-channel  my-3 my-md-5"><img class="w-100" src="{{ asset('images/boletin-del-gomelo.png') }}"/></a>
                        <a class="item-channel  my-3 my-md-5"><img class="w-100" src="{{ asset('images/juanois-experience.png') }}"/></a>
                        <br>
                        <p class="my-md-5">{{ qi.textoBig('texto_logos') }}</p>
                        <a class="bt-1 py-1" href="{{ path('fos_user_registration_register') }}">{{ qi.texto('suscribirse') }}</a>
                    </div>
                    <img class="b-d" src="{{ asset('images/border-dash-1.png') }}"/>
                </section>
                <div class="bg-3 pb-footer opciones-log">
                    <section class="d-md-flex justify-content-md-center align-items-center">
                        <div class="celular w-25 d-none d-md-inline-block py-5"><img class="w-75 float-right" src="{{ asset('images/celular.png') }}"/></div>
                        <div class="wp p-4 text-center">
                            <h2>{{ qi.texto('titulo_iphone_mac') }}</h2>
                            <p>{{ qi.textoBig('texto_ihpone_mac')|raw }}</p>
                            <a class="bt-1 mr-0 mr-md-3" href="{{ path('fos_user_security_login') }}">{{ qi.texto('iniciar_sesion') }}</a>
                            <a class="bt-1" href="{{ path('fos_user_registration_register') }}">{{ qi.texto('suscribirse') }}</a>
                        </div>
                        <div class="compu w-25 d-none d-md-inline-block py-5"><img class="w-100" src="{{ asset('images/compu.png') }}"/></div>
                    </section>
                    <section class="d-md-flex justify-content-md-center align-items-center">
                        <div class="wp p-4 text-center">
                            <h2>{{ qi.texto('preguntas_frequentes') }}</h2>
                            {% for p  in faqs %}
                               <div class="contFaq">
                                   <div class="pregunta">
                                       <h3>{{ p.pregunta }}</h3>
                                   </div>
                                   <div class="respuesta">
                                       <p>
                                           {{ p.respuesta|nl2br }}
                                       </p>
                                   </div>
                               </div>
                            {% endfor %}




                        </div>
                    </section>
                   {# <section class="pb-5" id="suscribirse">
                        <div class="wp text-center">
                            <img class="w-50" src="{{ asset('images/suscribete.png') }}"/>
                            <form class="text-left pb-footer">
                                <div class="d-md-flex">
                                    <div class="form-group w-50 pr-3">
                                        <label>Nombres</label>
                                        <input type="text"/>
                                    </div>
                                    <div class="form-group w-50 pl-3">
                                        <label>Apellidos</label>
                                        <input type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Correo electrónico</label>
                                    <input type="text"/>
                                </div>
                                <div class="d-md-flex">
                                    <div class="form-group w-50 pr-3">
                                        <label>Contraseña</label>
                                        <input type="text"/>
                                    </div>
                                    <div class="form-group w-50 pl-3">
                                        <label>Confirmar contraseña</label>
                                        <input type="text"/>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <label class="mt-3">
                                        Escoge tu método de pago:
                                    </label>
                                    <label class="w-25 py-5">
                                        <img src="{{ asset('images/payu.png') }}"/>
                                        <br>
                                        <input type="radio" name="pay"/>
                                    </label>
                                    <label class="w-25 py-5">
                                        <img src="{{ asset('images/paypal.png') }}"/>
                                        <br>
                                        <input type="radio" name="pay"/>
                                    </label>
                                </div>
                                <div class="w-75 m-auto px-5">
                                    <div class="d-md-flex">
                                        <div class="form-group w-50 pr-3">
                                            <label>Nombres</label>
                                            <input type="text"/>
                                        </div>
                                        <div class="form-group w-50 pl-3">
                                            <label>Apellido</label>
                                            <input type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Número de tarjeta</label>
                                        <input type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de vencimiento</label>
                                        <input type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Código de seguridad</label>
                                        <input type="text"/>
                                    </div>
                                    <div class="form-group text-center">
                                        <label><strong>PLAN ESTANDAR</strong> 6  USD</label>
                                        <input type="submit" class="bt-1" value="PAGAR"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>#}
                </div>
            </div>
        </div>
    </div>





{% endblock %}
{% block javascripts %}
    <script>

    </script>
{% endblock %}
