{% extends 'base.html.twig' %}

{% block body %}
    <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
    {{ include('global/header-user.html.twig') }}
{#    <form action="{{ path('buscador') }}">#}
{#        <input id="query" name="query" />#}
{#    </form>#}

    <div class="container-fluid px-0 bg-blue min-vh-100  pb-footer bg-videos">
        <div class="preview_mob">
            <img src="{{  destacado.imagen }}" alt="">
            <a class="call-popUp bt-2" data-wallpaper="{{  destacado.imagen }}" data-video="{{ destacado.idVimeo }}" data-domain="{{ qi.setting('bucket_s3') }}" data-aws="{{ destacado.awsUrl }}" data-titulo="{{ qi.slugify(destacado.titulo) }}">
                Reproducir
            </a>
        </div>
        <div class="preview_web">
            {#Este deberia ser un tipo especial de video con:
             *texto enriquecido
             *2 espacios para links de vimeo
                Uno para el preview y otro para el video completo al que enlaza
             *
             #}
            <img class="wallpaper" src='{{ destacado.imagen }}'>
            {% if destacado.awsPreviewUrl %}
                <video muted="muted" width="640" height="270"  id="video_destacado" data-video="{{ qi.setting('bucket_s3') }}{{ destacado.awsPreviewUrl }}"></video>
            {% else %}
                <iframe src="https://player.vimeo.com/video/{{ destacado.idPreviewVimeo }}?color=09a6a7&title=0&byline=0&portrait&autoplay=1&controls=0"  frameborder="0" allow="autoplay"></iframe>
            {% endif %}
            <div class="textos">
                <img src="{{  destacado.categoria.imagen }}" alt="">
                <h2>{{ destacado.titulo }}</h2>
                <p>
                    {{ destacado.resumen }}
                </p>
                <a class="call-popUp pause-main bt-2" data-wallpaper="{{  destacado.imagen }}" data-video="{{ destacado.idVimeo }}" data-domain="{{ qi.setting('bucket_s3') }}" data-aws="{{ destacado.awsUrl }}" data-titulo="{{ qi.slugify(destacado.titulo) }}">
                    Reproducir
                </a>
            </div>
        </div>
        {% for item in categorias %}
            {% if item.id == 8 %}
            {% else %}
                <section class="categorias" id="cat{{ item.id }}">
                    <div class="title">
        {#                <img src="{{ item.imagen.ruta() }}"/>#}
                        <h2>{{ item.nombre }}</h2>
                    </div>
                    <div class="s-g py-2 d-flex justify-content-between align-items-center">
                        <div class="swiper-button-prev"></div>
                        <div class="container-s-g">
                            <div class="swiper-wrapper">
                                {% for video in qi.videosCategoria(item.id) %}
                                        <div class="swiper-slide">
                                            <a class="item call-popUp" data-wallpaper="{{  video.imagen }}" data-video="{{ video.idVimeo }}" data-domain="{{ qi.setting('bucket_s3') }}" data-aws="{{ video.awsUrl }}" data-titulo="{{ qi.slugify(video.titulo) }}">
                                                <img class="w-100" src="{{ video.imagen }}"/>
                                                <span class="new">NEW!</span>
                                            </a>
                                        </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                    </div>
                </section>
            {% endif %}
        {% endfor %}
        <div class="friends" style="background-image: url({{ asset('images/bg-friends.png') }});">
            <img src="{{ asset('images/top-friends.png') }}" alt="" class="top">
            <div class="vids">
{#                {% for i in 1..11 %}#}
                {% for video in qi.VideosCategoria(8)%}
                    <a class="video-circ call-popUp" data-wallpaper="{{  video.imagen }}" data-video="{{ video.idVimeo }}" data-domain="{{ qi.setting('bucket_s3') }}" data-aws="{{ video.awsUrl }}" data-titulo="{{ qi.slugify(video.titulo) }}">
                        <img src="{{  video.imagen }}"/>
                    </a>
                {% endfor %}
{#                {% endfor %}#}
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {% for message in app.flashes('info') %}
        <script>Swal.fire('{{ message }}')</script>
    {% endfor %}
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script>

        $(function () {
            var video = document.getElementById('video_destacado');
            const $video = $('#video_destacado');
            var videoSrc = $video.data("video") || $video.attr("src");
            if (videoSrc) {
                if (Hls.isSupported()) {
                    var hls = new Hls();
                    hls.loadSource(videoSrc);
                    hls.attachMedia(video);
                    hls.on(Hls.Events.MANIFEST_PARSED, function () {
                        video.play();

                        console.log("play video");
                    });
                } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                    video.src = videoSrc;
                    video.addEventListener('loadedmetadata', function () {
                        console.log("play video else if");
                        video.play();
                    });
                }
            }


            var players = []
            $('.preview_web').each(function() {

                    console.log('test1', players);

                    players.push({
                        player: new Vimeo.Player($(this).find("iframe").get(0)),
                        top: $(this).position().top,
                        status: "paused"
                    });
                    console.log('test2', players);

            });
            var viewportHeight = $(window).height();

            if( !$(".preview_web").is(":visible")) {
                for(var i=0; i<players.length;i++) {
                    players[i].status = "pause";
                    players[i].player["pause"]();
                }
            }
            $(window).on('scroll', function() {
                var scrollPos = $(window).scrollTop();
                for(var i=0; i<players.length;i++) {
                    var elementFromTop = players[i].top - scrollPos;
                    var status = (elementFromTop > 1000 && elementFromTop < players[i].top + viewportHeight + 500) ? "play" : "pause";
                    if(players[i].status != status) {

                        players[i].status = status;
                        players[i].player[status]();
                    }
                }
                video.stop();
            });
            $('.pause-main').click(function () {
                players[0].status = 'pause';
                $('.wallpaper').removeClass('hidden');

            });
            setTimeout(function(){
                $('.wallpaper').addClass('hidden');
            }, 1500);
        })
    </script>
{% endblock %}

