{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JP</title>
    <link rel="icon" href="/favicon.ico">
    {% set ruta = app.request.get('_route') %}
    {% set query= app.request.get('query') %}
    {#    {% set params = app.request.attributes.get('_route_params')  %}#}
    {#    {% set seo = qi.seo(app.request.getUri(),url('homepage')) %}#}
    {#    <title>{{ seo.titulo }}</title>#}
    {#    <meta name="description" content="{{ seo.descripcion }}" />#}
    {#    <link rel="image_src" href="{{ seo.imagen }}"/>#}

    {#    <meta property="og:title" content="{{ seo.titulo }}" />#}
    {#    <meta property="og:type" content="article" />#}
    {#    <meta property="og:url" content="{{ url(ruta,params) }}" />#}
    {#    <meta property="og:image" content="{{ seo.imagen }}" />#}
    {#    <meta property="og:description" content="{{ seo.descripcion }}" />#}

    <!-- ... -->
    <link rel="stylesheet" href="{{ asset('/plugins/hamburgers/hamburgers.min.css') }}">
    {#        <link rel="stylesheet" href="{{ asset('/plugins/swiper/swiper.min.css') }}">#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}
        <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css"/>
        <link type="text/css" rel="stylesheet"
              href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css"/>
        <link type="text/css" rel="stylesheet"
              href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-classic.css"/>
        <link type="text/css" rel="stylesheet"
              href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-minima.css"/>
        <link type="text/css" rel="stylesheet"
              href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-plain.css"/>
        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162179837-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-162179837-1', 'auto');
    </script>
</head>
<body>


<main id="panel">
    {% block body %}{% endblock %}
</main>
{{ include('global/footer.html.twig') }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
<script type="text/javascript" src="{{ asset('js/player.min.js') }}"></script>
{#    <script type="text/javascript" src="{{ asset('js/player.min.js.map') }}"></script>#}
{#<script src="{{ asset('/plugins/selectric/jquery.selectric.min.js') }}"></script>#}
{#        <script src="{{ asset('/plugins/swiper/swiper.min.js') }}"></script>#}
{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('page1') }}
<script type="text/javascript" src="https://www.gstatic.com/firebasejs/5.8.4/firebase-app.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/firebasejs/5.8.4/firebase-database.js"></script>
<script type="text/javascript" src="{{ asset('firebase/config.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-sha3/0.8.0/sha3.min.js"></script>
<script type="text/javascript" src="/js/notify.min.js"></script>
<script>
    {% if app.user and app.user.id and not is_granted('ROLE_ADMIN') and not app.user.email == "ingresojpchannel@gmail.com"%}
    $(function () {

        const ref = database.ref("Usuario/{{ app.user.id }}/sessionId");
        ref.on("value", function (snapshot) {
            const value = snapshot.val();
            if (value && sha3_512(value) !== "{{ app.session.id | hash }}") {
                window.location.reload();
            }

        });
    });
    {% endif %}

    {% for message in app.flashes('error') %}
    $(function () {
        jQuery.notify("{{ message }}");
    });
    {% endfor %}
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% block javascripts %}

{% endblock %}

</body>
</html>
