{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    {{ include('global/header-log.html.twig') }}
    <section class="banner text-center d-flex justify-content-md-center pb-footer pt-header">
        <div class="s-wp">
            <form class="w-100 border-brown-3 py-3 px-3 py-md-4 px-md-5 text-center fos_user_registration_register" action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token('authenticate') %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                {% endif %}
                <div class="form-group text-center">
                    <a href="{{ path('homepage') }}"><img class="logo w-50" src="{{ asset('images/logo-h.png') }}"/></a>
                    <br>
                    <img class="titulo" src="{{ asset('images/iniciar-sesion.png') }}"/>
                </div>
                <div class="form-group">
                    <input type="email" id="username" name="_username" required="required" autocomplete="off" placeholder="{{ qi.texto('correo_electronico') }}"/>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="{{ qi.texto('contrasena') }}"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="bt-1" value="Ingresar"/>
                </div>
                <div class="form-group">
                    <a href="{{ path('fos_user_resetting_request') }}">{{ qi.texto('olvide_contrasena') }}</a>
                </div>
                <a class="form-group">
                    <p class="m-0">{{ qi.texto('no_tienes_cuante') }}</p>
                    <br>
                    <a class="bt-1" href="{{ path('fos_user_registration_register') }}">{{ qi.texto('suscribirse') }}</a>
                </div>
            </form>
        </div>
    </section>
    {#<div class="container">
        <div class="col-lg-8 offset-lg-2">
            <form class="fos_user_registration_register" action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token('authenticate') %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                {% endif %}
                <div class="col-lg-8 offset-lg-2">
                    <div class="form-group w-100">
                        <label>Usuario</label>
                        <input class="form-control" type="text" id="username" name="_username" required="required" autocomplete="off" placeholder="Correo">
                    </div>
                    <div class="form-group w-100 validate-input" data-validate="Ingrese la contraseña">
                        <label>Contraseña</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Contraseña" data-current="pass">
                    </div>
                    <div class="form-group w-100 text-right">
                        <a class="link" href="{{ path('fos_user_resetting_request') }}">¿olvidaste tu contraseña?</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3">
                    <div class="form-group">
                        <input type="submit" class="btn" value="Sign IN" />
                    </div>
                    <div class="form-group">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn" >{{ qi.texto('register') }}</a>
                    </div>
                    <div class="form-group w-100">

                        <a class="btn" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
                            INICIAR SESIÓN con FACEBOOK
                        </a>
                    </div>
                    <div class="form-group w-100">
                        <a class="btn" href="{{ path('hwi_oauth_service_redirect', {'service': 'instagram' }) }}">
                            INICIAR SESIÓN con INSTAGRAM
                        </a>
                    </div>
                    <div class="form-group w-100">
                        <a class="btn" href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
                            INICIAR SESIÓN con GMAIL
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>#}
{% endblock %}
