{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner mini-banner s-g swiper-container">
        <img class="d-block w-100" src="{{ asset('images/Sin-título-26.jpg') }}" alt="First slide">
    </div>
    <div class="p-4 bg-green d-flex justify-content-between">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><span>The Wharton Basin</span></a></li>
            <li><a href="{{ path('perfil') }}"><i class="fas fa-chevron-right"></i><span>Mi Perfil</span></a></li>
            <li><a><i class="fas fa-chevron-right"></i><span>Devoluciones y Garantías</span></a></li>
        </ul>
        <div class="opcion">
            <a class="btn border-0">CERRAR SESIÓN</a>
        </div>
    </div>
    <div class="container">
        <form class="form-g py-5">
            <div class="row">
                <div class="col-lg-5">
                    <div class="h-50">
                        <div class="title-card-perfil">
                            <img class="w-100" src="{{ asset('images/Sin-título-27.jpg') }}"/>
                            <div class="wp-center w-75 text-center">
                                <i class="icon-certificate"></i>
                                <h3 class="mt-3">DEVOLUCIONES Y GARANTÍAS</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <input type="text" class="w-100 mb-2" placeholder="*Nombre y apellidos"/>
                    <input type="text" class="w-100 mb-2" placeholder="Asunto"/>
                    <textarea class="w-100 mb-2" placeholder="Descripcion"></textarea>
                    <input type="submit" class="btn w-100" value="Enviar reclamación"/>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

