{% extends 'base.html.twig' %}

{% block body %}
    {{ include('global/header-user.html.twig') }}

    <div class="container-fluid banner-full min-vh-100">
        <div class="bg-2 p-3">
            <div class="border-brown-3">
                <div class="bg-3">
                    <section id="suscribirse">
                        <div class="wp p-4 text-center">
                            <p class="m-0">{{ qi.texto('esperando_activacion') }}</p>
                            <p>{{ qi.texto('intentar_manualmente') }} <a href="{{ path('salir-espera',{id:id}) }}">aquí</a></p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div id="suscripcion" data-id="{{ id }}"></div>
    <div class="alerta-Jp d-none" data-texto="{{ qi.texto('suscripcion_activa') }}" data-opcion="{{ qi.texto('continuar') }}"></div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('firebase/firebase_suscripcion.js') }}"></script>
    <script>
        setTimeout(function(){
            $.get('/es/check-pago-pse/{{ id }}',  // url
                function (data, textStatus, jqXHR) {  // success callback
                    //alert('status: ' + textStatus + ', data:' + data);
                    data = JSON.parse(data);

                    if(data.pagos == 0){
                        window.location = '{{ path('info-personal') }}';
                    }
                    //window.location = '{{ path('esperando_activacion') }}';
                });
        },1000*60*8);

    </script>
{% endblock %}

