{% extends 'base.html.twig' %}

{% block body %}
    <script
            src="https://www.paypal.com/sdk/js?client-id=AfnIeZFch5lhzPRXhGAqvqfOyk8Bng_hpFjKW5tE8CHGZ50Fz0je2TTZ1VpxvKFYKAyRN4Sq8K5hfdLn&vault=true">
    </script>
    {{ include('global/header-user.html.twig') }}

    <div class="container-fluid p-0">
        <div class="bg-2 p-3">
            <div>
                <div class="bg-3">
                     <section class="" id="suscribirse">
                         <div class="paySection">
                             <img class="w-25" src="{{ asset('images/suscribete.png') }}"/>


                             <div class="form-group msj-susc">
                                 <p><strong>¡Hey, hey, hey, hola todos!. Yo soy Juanpis González y tengo un mensaje importante para ustedes:</strong></p>

                                 <p><strong> Como The JP Channel es un canal muy top, estoy dema excited porque mis esclavis –después de muchos gritos e insultos– lograron ampliar las opciones de pago para las suscripciones.<br>O sea, mk, a los mantecos y pobres se les están acabando las excusas para no pagar. Miren:</strong></p>
                             </div>

                             {% if suscripcion_error  %}
                                 <span class="invalid-feedback d-block">
                                        <span class="d-block">
                                            <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                                            <span class="form-error-message">{{qi.texto('suscripcion_errada')}}</span>
                                        </span>
                                     </span>
                             {% endif %}

                             <div class="container-opciones">
                                 <div class="container-opcion">
                                     <img src="{{ asset('/images/suscripcion_mensual.png') }}" alt="" class="tit">
                                     <p>{{ qi.texto('asterisco_mensual') }}</p>
                                     <p{{ qi.texto('opcion_mensualidad') }}</p>
                                     <div class="valorCont">
                                         <h3>VALOR MENSUAL</h3>
                                         <div class="precio">
                                             <p>${{ qi.texto('valor_plan_payu') }}</p>
                                             <p>${{ qi.texto('valor_plan_paypal') }}</p>
                                         </div>
                                     </div>
                                     <div class="opcionesTarjeta">
                                         <div class="opcion">
                                             <h4>TARJETA DE CRÉDITO</h4>
                                             <h5>Colombiana</h5>
                                             <img class="pais" src="{{ asset('images/col.png') }}" alt="">
                                             <a {#data-toggle="collapse" #}href="#datos" id="pay_ini_payu"><img class="pagar" src="{{ asset('images/pay.png') }}" alt="pagar"></a>
                                         </div>
                                         <div class="line"></div>
                                         <div class="opcion">
                                             <h4>TARJETA DE CRÉDITO</h4>
                                             <h5>Internacional</h5>
                                             <img class="pais" src="{{ asset('images/intl.png') }}" alt="">
                                             <a {#data-toggle="collapse" #}href="{{ path('crear_suscripcion_paypal') }}" ><img class="pagar" src="{{ asset('images/pay.png') }}" alt="pagar"></a>

                                         </div>
                                     </div>
                                 </div>

                                 <div class="container-opcion">
                                     <img src="{{ asset('/images/paquetes_mensuales.png') }}" alt="" class="tit">

                                    <p>
                                        Wuon, esta opción es para esos asalariados que solo quieren pagar por un tiempo limitado. Por eso van a encontrar opciones de 3, 6 y 12 meses y podrán hacerlo usando PSE, Efecty, baloto y Gana.
                                    </p>
                                     <p>
                                         Es tu decisión mk. Como esta suscripción <strong>no se renueva de forma automática,</strong>  entonces tendrás que pagar  manualmente cuando quieras extenderla. ¡Y obvio vas a querer, mk! Sé que me amas y amas lo que hago.
                                     </p>
                                     <div class="opcionesTarjeta">
                                         {% for p in planes %}
                                             <div class="opcion">
                                                 <h4>{{ p.nombre }}</h4>
                                                 <h5>{{ p.duracion }} Meses</h5>
                                                 <h6>${{ p.precio|number_format }} {% if loop.last %}<img src="{{ asset('images/disc.png') }}" alt="">{% endif %}</h6>
                                                 <a href="{{ path('pagar-payu',{'id': p.idPayu }) }}"><img class="pagar" src="{{ asset('images/pay.png') }}" alt="pagar"></a>
                                             </div>
                                             {% if not loop.last %}
                                                <div class="line"></div>
                                             {% endif %}
                                         {% endfor %}

                                     </div>
                                     <p>{{ qi.texto('asterisco_planes_fijos') }}</p>
                                 </div>
                             </div>
                             <form class="text-left pb-footer" action="" method="post"  id="formu">
{#                                 <div class="form-group text-center">#}
{#                                     <label class="mt-3">#}
{#                                         {{ qi.texto('titulo_escoge_metodopago') }}#}
{#                                     </label>#}
{#                                     <div class="py-3 d-md-flex justify-content-center align-content-start">#}
{#                                         <a class="payu d-inline-block mx-3" data-toggle="collapse" href="#datos" role="button">#}
{#                                             <img src="{{ asset('images/payu-white.png') }}"/>#}
{#                                         </a>#}


{#                                     </div>#}
{#                                     <p style="text-align: center">#}
{#                                         En este momento solo puedes hacer<br>#}
{#                                         pagos con tarjeta de crédito.<br>#}
{#                                         Muy pronto tendremos más medios de pago.#}
{#                                     </p>#}
{#                                     <p style="display:none" >*La opción de Paypal solo es valida con tarjetas de crédito emitidas en los Estados Unidos</p>#}


{#                                 </div>#}
                                 <br>
                                 <div class="w-75 m-auto px-md-5 collapse {{ show }}" id="datos">
                                     {% if error != '' %}
                                         <span class="invalid-feedback d-block">
                                        <span class="d-block">
                                            <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                                            <span class="form-error-message">{{error}}</span>
                                        </span>
                                     </span>
                                     {% endif %}

                                     <div class="form-group">
                                         <label>{{ qi.texto('nombre_comple_tarjeta') }}</label>
                                         <input type="text" name="name" required value="{{ datos.name }}"/>
                                     </div>
                                     <div class="form-group">
                                         <label>{{ qi.texto('documento_identidad') }}</label>
                                         <input type="text" name="document" required value="{{ datos.document }}"/>
                                     </div>
                                     <div class="form-group">
                                         <label>{{ qi.texto('numero_tarjeta') }}</label>
                                         <input type="text" name="number" id="input-cc" required value="{{ datos.number }}"/>
                                     </div>
                                     <div class="form-group">
                                         <label>{{ qi.texto('mes_vencimiento') }}</label>
                                         <select name="expMonth" id="">
                                             {% set meses = ['01','02','03','04','05','06','07','08','09','10','11','12'] %}
                                             {% for item in meses %}
                                                 <option value="{{ item }}">{{ item }}</option>
                                             {% endfor %}
                                         </select>
                                     </div>
                                     <div class="form-group">
                                         <label>{{ qi.texto('ano_vencimiento') }}</label>
                                         <select name="expYear" id="">
                                             {% for item in 2020..2035 %}
                                                 <option value="{{ item }}">{{ item }}</option>
                                             {% endfor %}
                                         </select>
                                     </div>
                                     {#<div class="form-group">
                                         <label>{{ qi.texto('codigo_seguridad') }}</label>
                                         <input type="text"/>
                                     </div>#}
                                     <div class="form-group">
                                         <label>{{ qi.texto('direccion') }}</label>
                                         <input type="text" name="address[line1]" required value="{{ datos.address.line1 }}"/>
                                     </div>
                                     <div class="form-group">
                                         <label>{{ qi.texto('ciudad') }}</label>
                                         <input type="text" name="address[city]" required value="{{ datos.address.city }}"/>
                                         <input type="hidden" name="address[country]" value="CO"/>
                                     </div>
                                     <div class="form-group">
                                         <label>{{ qi.texto('telefono') }}</label>
                                         <input type="text" name="address[phone]" required value="{{ datos.address.phone }}"/>
                                     </div>
                                     <div class="form-group text-center">
                                         <label><strong>{{ qi.texto('plan_estandar') }}</strong> {{ qi.texto('valor_plan_payu') }}</label>
                                         <input type="submit" class="bt-1 enviar" value="PAGAR{{ qi.texto('pagar') }}"/>
                                     </div>

                                     <input type="hidden" name="type" id="type"/>
                                 </div>
                                 <input type="hidden" name="plan_ref" id="plan_ref" required value="{{ planRec.idPayu }}"/>
                             </form>
                         </div>
                     </section>
                </div>
            </div>
        </div>
    </div>
    <script>
        function crearBotonPaypal(id,ref){
            paypal.Buttons({
                createSubscription: function(data, actions) {
                    return actions.subscription.create({
                        'plan_id': ref
                    });
                },
                onApprove: function(data, actions) {
                    console.log("data des paypal",data);
                    //alert('You have successfully created subscription ' + data.subscriptionID);
                    $.get('/es/webhook/suscripcion/' + data.subscriptionID,  // url
                        function (data, textStatus, jqXHR) {  // success callback
                            //alert('status: ' + textStatus + ', data:' + data);
                            window.location = '{{ path('esperando_activacion') }}';
                        });
                },
                onCancel: function (data) {
                    console.log("cancelacion paypal",data);
                },
                onError: function (err) {
                    console.log("error paypal",data);
                },
                style: {
                    layout: 'horizontal'
                }
            }).render('#paypal-button-container-'+id);
        }

    </script>

{% endblock %}

{% block javascripts %}
<script>
    $('#pay_ini_payu').click(function (e) {
        //e.preventDefault();
        //e.stopPropagation();
        $("#datos").show();
    });
    $("#formu").submit(function(e){
        console.log("submit form");
        //e.preventDefault();
       $(".enviar").prop('disabled','disabled');
    });

    crearBotonPaypal('{{ planRec.id }}','{{ planRec.idPaypal }}' );

    $(".pagos").click(function(){
        $(".opciones_pago").hide();
        $("."+$(this).data('class')).show()
        if( $("#paypal-button-container-"+$(this).data("id")).html().length ==0 ){
            crearBotonPaypal($(this).data("id"),$(this).data('ref') );
        }
        $("#plan_ref").val($(this).data('refpayu'));
    });

</script>

        <script type="text/javascript" src="{{ asset('js/cleave.min.js') }}"></script>
        <script>
            var cc_type = 'unknown';
            var cleave = new Cleave('#input-cc', {
                creditCard: true,
                delimiter: '-',
                onCreditCardTypeChanged: function (type) {
                    console.log(type);
                    cc_type = type;
                    $('#type').val(type.toUpperCase());
                }
            });
            $('#check-cc').click(function(){
                //alert(cleave.getFormattedValue() + ' is a ' + cc_type + ' card');
            });
        </script>
{% endblock %}

