{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner mini-banner s-g swiper-container">
        <img class="d-block w-100" src="{{ asset('images/Sin-título-26.jpg') }}" alt="First slide">
    </div>
    <div class="p-4 bg-green d-flex justify-content-between">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><span>The Wharton Basin</span></a></li>
            <li><a href="{{ path('perfil') }}"><i class="fas fa-chevron-right"></i><span>Mi perfil</span></a></li>
        </ul>
        <div class="opcion">
            <a class="btn border-0">CERRAR SESIÓN</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 p-lg-4"><a href="{{ path('info-personal') }}" class="item-perfil d-flex justify-content-between align-content-center"><i class="icon-i"></i><span><span>Información personal</span><br>Mostrar o actualizar información personal</span></a></div>
            <div class="col-lg-3 p-lg-4"><a href="{{ path('direcciones') }}" class="item-perfil d-flex justify-content-between align-content-center"><i class="icon-direction"></i><span><span>Direcciones</span><br>Manejar direcciones de entrega y facturación</span></a></div>
            <!--<div class="col-lg-3 p-lg-4"><a href="#" class="item-perfil d-flex justify-content-between align-content-center"><i class="icon-card"></i><span><span>Ajustes de pago</span><br>Manejar tarjetas de crédito</span></a></div>-->
            <div class="col-lg-3 p-lg-4"><a href="{{ path('pedidos') }}" class="item-perfil d-flex justify-content-between align-content-center"><i class="icon-table-check"></i><span><span>Pedidos </span><br>Revisar status de los pedidos</span></a></div>
            <div class="col-lg-3 p-lg-4"><a href="{{ path('wishlist') }}" class="item-perfil d-flex justify-content-between align-content-center"><i class="icon-heart"></i><span><span>Wishlist</span><br>Agregar o eliminar productos a tu lista de deseo</span></a></div>
            <div class="col-lg-3 p-lg-4"><a href="{{ path('devoluciones-garantias') }}" class="item-perfil d-flex justify-content-between align-content-center"><i class="icon-certificate"></i><span><span>Devoluciones y garantías</span><br>Iniciar proceso de devolución</span></a></div>
            <div class="col-lg-3 p-lg-4"><a href="#" class="item-perfil d-flex justify-content-between align-content-center"><i class="icon-news"></i><span><span>Blog</span><br>Comparte tus historias</span></a></div>
        </div>
    </div>

{% endblock %}

