{% extends 'base.html.twig' %}

{% block body %}
    <section class="banner text-center d-flex justify-content-md-center pb-footer pt-header">
        <div class="s-wp">
            <form class="w-100 border-brown-3 py-4 px-5 text-center">
                <div class="form-group text-center">
                    <img class="logo" src="{{ asset('images/logo-h.png') }}"/>
                    <br>
                    <img class="titulo" src="{{ asset('images/iniciar-sesion.png') }}"/>
                </div>
                <div class="form-group">
                    <p class="m-0">Ingresa tu correo electrónico</p>
                </div>
                <div class="form-group my-5">
                    <input type="email"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="bt-1" value="Enviar"/>
                </div>
            </form>
        </div>
    </section>

{% endblock %}

